.loginboxnew-1 {
  margin: 0px;
  -webkit-tap-highlight-color: transparent;
  display: block;
  scrollbar-width: none;
  box-sizing: border-box;
  font-family: sans-serif;
  padding: 0.9375rem;
}

.loginboxnew-1:after {
  border-color: rgb(30, 39, 48) !important;
}

.loginboxnew-2 {
  margin: 0px;
  -webkit-tap-highlight-color: transparent;
  scrollbar-width: none;
  box-sizing: border-box;
  font-family: sans-serif;
  margin-bottom: 2.5rem;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.loginboxnew-2:after {
  border-color: rgb(30, 39, 48) !important;
}

.loginboxnew-3 {
  -webkit-tap-highlight-color: transparent;
  display: block;
  scrollbar-width: none;
  box-sizing: border-box;
  font-family: sans-serif;
  font-weight: 700;
  font-size: 2.1875rem;
  margin: undefined;
  color: rgba(255, 255, 255, 0.8);
}

.loginboxnew-3:after {
  border-color: rgb(30, 39, 48) !important;
}

.loginboxnew-4 {
  margin: 0px;
  -webkit-tap-highlight-color: transparent;
  white-space: pre-line;
  scrollbar-width: none;
  font-family: sans-serif;
}

.loginboxnew-4:after {
  border-color: rgb(30, 39, 48) !important;
}

.loginboxnew-5 {
  margin: 0px;
  -webkit-tap-highlight-color: transparent;
  scrollbar-width: none;
  box-sizing: border-box;
  font-family: sans-serif;
}

.loginboxnew-6 {
  -webkit-tap-highlight-color: transparent;
  scrollbar-width: none;
  box-sizing: border-box;
  font-family: sans-serif;
  display: flex;
  align-items: center;
  margin: undefined;
  color: hsla(0, 0%, 100%, 0.6);
  font-size: 0.8125rem;
}

.loginboxnew-6:active {
  opacity: 0.7;
}

.loginboxnew-6:after {
  border-color: rgb(30, 39, 48) !important;
}

.loginboxnew-7 {
  margin: 0px;
  -webkit-tap-highlight-color: transparent;
  white-space: pre-line;
  scrollbar-width: none;
  font-family: sans-serif;
}

.loginboxnew-7:after {
  border-color: rgb(30, 39, 48) !important;
}

.loginboxnew-8 {
  margin: 0px;
  -webkit-tap-highlight-color: transparent;
  scrollbar-width: none;
  box-sizing: border-box;
  font-family: sans-serif;
}

.loginboxnew-9 {
  margin: 0px;
  -webkit-tap-highlight-color: transparent;
  display: block;
  scrollbar-width: none;
  box-sizing: border-box;
  font-family: sans-serif;
}

.loginboxnew-9:after {
  border-color: rgb(30, 39, 48) !important;
}

.loginboxnew-10 {
  -webkit-tap-highlight-color: transparent;
  display: block;
  width: 100%;
  scrollbar-width: none;
  box-sizing: border-box;
  font-family: sans-serif;
  z-index: 2;
  top: 0;
  left: 0px;
  right: 0px;
  position: static !important;
  background: rgb(15, 23, 32);
  margin: 0px -0.9375rem 0.625rem;
}

.loginboxnew-10:after {
  border-color: rgb(30, 39, 48) !important;
}

.loginboxnew-11 {
  margin: 0px;
  -webkit-tap-highlight-color: transparent;
  scrollbar-width: none;
  box-sizing: border-box;
  font-family: sans-serif;
  position: relative;
  width: 100%;
  height: 100%;
  max-height: inherit;
}

.loginboxnew-12 {
  margin: 0px;
  -webkit-tap-highlight-color: transparent;
  scrollbar-width: none;
  box-sizing: border-box;
  font-family: sans-serif;
  position: relative;
  width: 100%;
  height: 100%;
  max-height: inherit;
  overflow: auto;
}

.loginboxnew-13 {
  margin: 0px;
  -webkit-tap-highlight-color: transparent;
  scrollbar-width: none;
  box-sizing: border-box;
  font-family: sans-serif;
  width: 100%;
  height: 100%;
}

.loginboxnew-14 {
  margin: 0px;
  -webkit-tap-highlight-color: transparent;
  scrollbar-width: none;
  box-sizing: border-box;
  font-family: sans-serif;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
}

.loginboxnew-14:after {
  border-color: rgb(30, 39, 48) !important;
}

.loginboxnew-15 {
  margin: 0px;
  -webkit-tap-highlight-color: transparent;
  scrollbar-width: none;
  box-sizing: border-box;
  font-family: sans-serif;
  display: flex;
  align-items: center;
  white-space: nowrap;
  justify-content: center;
  height: 50px;
  font-size: 1rem;
  position: relative;
  z-index: 1;
  text-align: center;
  transition: all 0.2s ease 0s;
  margin-left: 1.0625rem;
  padding: 0px;
  color: rgb(255, 255, 255);
  width: fit-content;
  margin-right: 0.9375rem;
}

.loginboxnew-15:after {
  border-color: rgb(30, 39, 48) !important;
}

.loginboxnew-16 {
  margin: 0px;
  -webkit-tap-highlight-color: transparent;
  scrollbar-width: none;
  font-family: sans-serif;
  white-space: nowrap;
}

.loginboxnew-16:after {
  border-color: rgb(30, 39, 48) !important;
}

.loginboxnew-17 {
  margin: 0px;
  -webkit-tap-highlight-color: transparent;
  scrollbar-width: none;
  box-sizing: border-box;
  font-family: sans-serif;
}

.loginboxnew-18 {
  margin: 0px;
  -webkit-tap-highlight-color: transparent;
  display: block;
  scrollbar-width: none;
  box-sizing: border-box;
  font-family: sans-serif;
  position: absolute;
  transition: none;
  transform: translateX(17.765625px);
  bottom: 0px;
  width: 37.328125px;
  height: 0.1875rem;
  background: rgb(240, 193, 99);
  border-radius: 3.125rem;
}

.loginboxnew-18:after {
  border-color: rgb(30, 39, 48) !important;
}

.loginboxnew-19 {
  -webkit-tap-highlight-color: transparent;
  display: block;
  scrollbar-width: none;
  box-sizing: border-box;
  font-family: sans-serif;
  position: relative;
  margin: 0;
  border-radius: 0;
}

.loginboxnew-19:after {
  border-color: rgb(30, 39, 48) !important;
}

.loginboxnew-20 {
  margin: 0px;
  -webkit-tap-highlight-color: transparent;
  display: block;
  scrollbar-width: none;
  box-sizing: border-box;
  font-family: sans-serif;
}

.loginboxnew-20:after {
  border-color: rgb(30, 39, 48) !important;
}

.loginboxnew-21 {
  margin: 0px;
  -webkit-tap-highlight-color: transparent;
  display: block;
  scrollbar-width: none;
  box-sizing: border-box;
  font-family: sans-serif;
  padding: 0.46875rem 0;
  border-bottom: 1px solid rgb(0, 0, 0);
}

.loginboxnew-21:after {
  border-color: rgb(30, 39, 48) !important;
}

.loginboxnew-22 {
  margin: 0px;
  -webkit-tap-highlight-color: transparent;
  scrollbar-width: none;
  box-sizing: border-box;
  font-family: sans-serif;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  flex: 1 1 0%;
}

.loginboxnew-22:after {
  border-color: rgb(30, 39, 48) !important;
}

.loginboxnew-23 {
  margin: 0px;
  -webkit-tap-highlight-color: transparent;
  scrollbar-width: none;
  box-sizing: border-box;
  font-family: sans-serif;
  display: flex;
  align-items: center;
}

.loginboxnew-23:after {
  border-color: rgb(30, 39, 48) !important;
}

.loginboxnew-24 {
  margin: 0px;
  -webkit-tap-highlight-color: transparent;
  display: block;
  line-height: 1.4em;
  min-height: 1.4em;
  overflow: hidden;
  scrollbar-width: none;
  font-family: sans-serif;
  font-size: 0.875rem;
  height: 2.25rem;
  flex: 1 1 0%;
  background: inherit;
  color: rgb(255, 255, 255);
}

.loginboxnew-24:after {
  border-color: rgb(30, 39, 48) !important;
}

.loginboxnew-25 {
  -webkit-tap-highlight-color: transparent;
  scrollbar-width: none;
  box-sizing: border-box;
  font-family: sans-serif;
  outline: none;
  border: none;
  padding: 0px;
  margin: 0px;
  text-decoration: inherit;
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
}

.loginboxnew-26 {
  -webkit-tap-highlight-color: transparent;
  outline: none;
  border: none;
  padding: 0px;
  margin: 0px;
  text-decoration: inherit;
  width: 100%;
  position: absolute;
  left: 0px;
  color: gray;
  overflow: hidden;
  text-overflow: clip;
  white-space: pre;
  word-break: keep-all;
  pointer-events: none;
  line-height: inherit;
  top: auto !important;
  scrollbar-width: none;
  box-sizing: border-box;
  font-family: sans-serif;
  display: none;
}

.loginboxnew-26:after {
  border-color: rgb(30, 39, 48) !important;
}

.loginboxnew-27 {
  -webkit-tap-highlight-color: transparent;
  scrollbar-width: none;
  font-family: sans-serif;
  outline: none;
  border: none;
  padding: 0px;
  margin: 0px;
  text-decoration: inherit;
  width: 100%;
  position: relative;
  display: block;
  height: 100%;
  background: none;
  color: inherit;
  opacity: 1;
  font: inherit;
  letter-spacing: inherit;
  text-align: inherit;
  text-indent: inherit;
  text-transform: inherit;
  text-shadow: inherit;
}

.loginboxnew-28 {
  margin: 0px;
  -webkit-tap-highlight-color: transparent;
  scrollbar-width: none;
  box-sizing: border-box;
  font-family: sans-serif;
  display: flex;
  align-items: center;
}

.loginboxnew-28:after {
  border-color: rgb(30, 39, 48) !important;
}

.loginboxnew-29 {
  margin: 0px;
  -webkit-tap-highlight-color: transparent;
  display: block;
  scrollbar-width: none;
  box-sizing: border-box;
  font-family: sans-serif;
  padding: 0.46875rem 0;
  border-bottom: 1px solid rgb(0, 0, 0);
}

.loginboxnew-29:after {
  border-color: rgb(30, 39, 48) !important;
}

.loginboxnew-30 {
  margin: 0px;
  -webkit-tap-highlight-color: transparent;
  scrollbar-width: none;
  box-sizing: border-box;
  font-family: sans-serif;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  flex: 1 1 0%;
}

.loginboxnew-30:after {
  border-color: rgb(30, 39, 48) !important;
}

.loginboxnew-31 {
  margin: 0px;
  -webkit-tap-highlight-color: transparent;
  scrollbar-width: none;
  box-sizing: border-box;
  font-family: sans-serif;
  display: flex;
  align-items: center;
}

.loginboxnew-31:after {
  border-color: rgb(30, 39, 48) !important;
}

.loginboxnew-32 {
  margin: 0px;
  -webkit-tap-highlight-color: transparent;
  display: block;
  line-height: 1.4em;
  min-height: 1.4em;
  overflow: hidden;
  scrollbar-width: none;
  font-family: sans-serif;
  font-size: 0.875rem;
  height: 2.25rem;
  flex: 1 1 0%;
  background: inherit;
  color: rgb(255, 255, 255);
}

.loginboxnew-32:after {
  border-color: rgb(30, 39, 48) !important;
}

.loginboxnew-33 {
  -webkit-tap-highlight-color: transparent;
  scrollbar-width: none;
  box-sizing: border-box;
  font-family: sans-serif;
  outline: none;
  border: none;
  padding: 0px;
  margin: 0px;
  text-decoration: inherit;
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
}

.loginboxnew-34 {
  -webkit-tap-highlight-color: transparent;
  outline: none;
  border: none;
  padding: 0px;
  margin: 0px;
  text-decoration: inherit;
  width: 100%;
  position: absolute;
  left: 0px;
  color: gray;
  overflow: hidden;
  text-overflow: clip;
  white-space: pre;
  word-break: keep-all;
  pointer-events: none;
  line-height: inherit;
  top: auto !important;
  scrollbar-width: none;
  box-sizing: border-box;
  font-family: sans-serif;
  display: none;
}

.loginboxnew-34:after {
  border-color: rgb(30, 39, 48) !important;
}

.loginboxnew-35 {
  -webkit-tap-highlight-color: transparent;
  scrollbar-width: none;
  font-family: sans-serif;
  outline: none;
  border: none;
  padding: 0px;
  margin: 0px;
  text-decoration: inherit;
  width: 100%;
  position: relative;
  display: block;
  height: 100%;
  background: none;
  color: inherit;
  opacity: 1;
  font: inherit;
  letter-spacing: inherit;
  text-align: inherit;
  text-indent: inherit;
  text-transform: inherit;
  text-shadow: inherit;
}

.loginboxnew-36 {
  margin: 0px;
  -webkit-tap-highlight-color: transparent;
  scrollbar-width: none;
  box-sizing: border-box;
  font-family: sans-serif;
  display: flex;
  align-items: center;
}

.loginboxnew-36:after {
  border-color: rgb(30, 39, 48) !important;
}

.loginboxnew-37 {
  -webkit-tap-highlight-color: transparent;
  scrollbar-width: none;
  box-sizing: border-box;
  font-family: sans-serif;
  display: flex;
  align-items: center;
  margin: 0.9375rem 0 0;
}

.loginboxnew-37:after {
  border-color: rgb(30, 39, 48) !important;
}

.loginboxnew-38 {
  margin: 0px;
  -webkit-tap-highlight-color: transparent;
  scrollbar-width: none;
  box-sizing: border-box;
  font-family: sans-serif;
  display: flex;
  align-items: center;
  margin-right: 1.5625rem;
}

.loginboxnew-38:after {
  border-color: rgb(30, 39, 48) !important;
}

.loginboxnew-39 {
  margin: 0px;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  scrollbar-width: none;
  box-sizing: border-box;
  font-family: iconfont2 !important;
  font-style: normal;
  font-size: 1.125rem;
  color: rgb(240, 193, 99);
}

.loginboxnew-39:after {
  border-color: rgb(30, 39, 48) !important;
}

.loginboxnew-39:before {
  content: "\e6d4";
}

.loginboxnew-40 {
  margin: 0px;
  -webkit-tap-highlight-color: transparent;
  scrollbar-width: none;
  font-family: sans-serif;
  margin-left: 0.25rem;
  font-size: 0.875rem;
  white-space: nowrap;
  color: rgba(255, 255, 255, 0.3);
}

.loginboxnew-40:after {
  border-color: rgb(30, 39, 48) !important;
}

.loginboxnew-41 {
  margin: 0px;
  -webkit-tap-highlight-color: transparent;
  scrollbar-width: none;
  box-sizing: border-box;
  font-family: sans-serif;
}

.loginboxnew-42 {
  margin-left: auto;
  margin-right: auto;
  padding-left: 14px;
  padding-right: 14px;
  text-align: center;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  background-color: rgb(248, 248, 248);
  cursor: pointer;
  scrollbar-width: none;
  box-sizing: border-box;
  font-family: sans-serif;
  overflow: hidden;
  position: relative;
  border: 0px;
  color: rgb(255, 255, 255);
  outline: 0px;
  padding: 0px;
  line-height: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
  margin-top: 1.875rem;
  width: 100%;
  height: 2.5rem;
  font-size: 1rem;
  background: rgb(240, 193, 99);
  border-radius: 3.125rem;
}

.loginboxnew-42:after {
  top: 0px;
  left: 0px;
  transform: scale(0.5);
  transform-origin: 0px 0px;
  display: none;
  content: "";
  position: absolute;
  inset: 0px;
  border: 0px;
  pointer-events: none;
  border-color: rgb(30, 39, 48) !important;
}

@media (prefers-color-scheme: dark) {
  .loginboxnew-42 {
    color: rgb(214, 214, 214);
    background-color: rgb(52, 52, 52);
  }
}

.loginboxnew-43 {
  margin: 0px;
  -webkit-tap-highlight-color: transparent;
  scrollbar-width: none;
  box-sizing: border-box;
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 0.9375rem;
}

.loginboxnew-43:after {
  border-color: rgb(30, 39, 48) !important;
}

.loginboxnew-44 {
  -webkit-tap-highlight-color: transparent;
  scrollbar-width: none;
  box-sizing: border-box;
  font-family: sans-serif;
  display: flex;
  align-items: center;
  font-size: 0.875rem;
  margin: undefined;
  color: hsla(0, 0%, 100%, 0.6);
}

.loginboxnew-44:active {
  opacity: 0.7;
}

.loginboxnew-44:after {
  border-color: rgb(30, 39, 48) !important;
}

.loginboxnew-45 {
  margin: 0px;
  -webkit-tap-highlight-color: transparent;
  white-space: pre-line;
  scrollbar-width: none;
  font-family: sans-serif;
}

.loginboxnew-45:after {
  border-color: rgb(30, 39, 48) !important;
}

.loginboxnew-46 {
  margin: 0px;
  -webkit-tap-highlight-color: transparent;
  scrollbar-width: none;
  box-sizing: border-box;
  font-family: sans-serif;
}

.loginboxnew-47 {
  -webkit-tap-highlight-color: transparent;
  scrollbar-width: none;
  box-sizing: border-box;
  font-family: sans-serif;
  display: flex;
  align-items: center;
  font-size: 0.875rem;
  margin: undefined;
  color: hsla(0, 0%, 100%, 0.6);
}

.loginboxnew-47:active {
  opacity: 0.7;
}

.loginboxnew-47:after {
  border-color: rgb(30, 39, 48) !important;
}

.loginboxnew-48 {
  margin: 0px;
  -webkit-tap-highlight-color: transparent;
  white-space: pre-line;
  scrollbar-width: none;
  font-family: sans-serif;
}

.loginboxnew-48:after {
  border-color: rgb(30, 39, 48) !important;
}

.loginboxnew-49 {
  margin: 0px;
  -webkit-tap-highlight-color: transparent;
  scrollbar-width: none;
  box-sizing: border-box;
  font-family: sans-serif;
}

.loginboxnew-50 {
  -webkit-tap-highlight-color: transparent;
  scrollbar-width: none;
  box-sizing: border-box;
  font-family: sans-serif;
  display: flex;
  align-items: center;
  font-size: 0.875rem;
  margin: undefined;
  color: hsla(0, 0%, 100%, 0.6);
  justify-content: center;
  margin-top: 30px;
}

.loginboxnew-50:active {
  opacity: 0.7;
}

.loginboxnew-50:after {
  border-color: rgb(30, 39, 48) !important;
}

.loginboxnew-51 {
  margin: 0px;
  -webkit-tap-highlight-color: transparent;
  display: inline-block;
  overflow: hidden;
  position: relative;
  scrollbar-width: none;
  font-family: sans-serif;
  width: 1.25rem;
  height: 1.25rem;
  margin-right: 0.3125rem;
  filter: grayscale(100%);
}

.loginboxnew-51:after {
  border-color: rgb(30, 39, 48) !important;
}

.loginboxnew-53 {
  margin: 0px;
  -webkit-tap-highlight-color: transparent;
  scrollbar-width: none;
  box-sizing: border-box;
  font-family: sans-serif;
}

.loginboxnew-54 {
  margin: 0px;
  -webkit-tap-highlight-color: transparent;
  scrollbar-width: none;
  font-family: sans-serif;
  user-select: none;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

.loginboxnew-55 {
  margin: 0px;
  -webkit-tap-highlight-color: transparent;
  white-space: pre-line;
  scrollbar-width: none;
  font-family: sans-serif;
}

.loginboxnew-55:after {
  border-color: rgb(30, 39, 48) !important;
}

.loginboxnew-56 {
  margin: 0px;
  -webkit-tap-highlight-color: transparent;
  scrollbar-width: none;
  box-sizing: border-box;
  font-family: sans-serif;
}