.jianjie-1:focus {
  outline: 0px;
}

.jianjie-1 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background-color: #fff;
  flex-shrink: 0;
  width: 100%;
}

.jianjie-2:focus {
  outline: 0px;
}

.jianjie-2:after {
  display: table;
  clear: both;
  content: "";
}

.jianjie-2 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 1.06667rem;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-align: left;
}

.jianjie-3:focus {
  outline: 0px;
}

.jianjie-3:after {
  display: table;
  clear: both;
  content: "";
}

.jianjie-3 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  padding-left: 0.53333rem;
  line-height: 2.93333rem;
  border-bottom: 0.02667rem solid rgb(229, 229, 229);
}

.jianjie-4 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  font-size: 1rem;
  line-height: 3.125rem;
  letter-spacing: normal;
  font-weight: 400;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  vertical-align: baseline;
  background: transparent;
  color: rgb(33, 33, 33);
}

.jianjie-5:focus {
  outline: 0px;
}

.jianjie-5:after {
  display: table;
  clear: both;
  content: "";
}

.jianjie-5 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  padding-left: 0.53333rem;
  line-height: 2.93333rem;
  border-bottom: 0.02667rem solid rgb(229, 229, 229);
}

.jianjie-6:focus {
  outline: 0px;
  text-align: left;
}

.jianjie-6 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  float: left;
  min-height: 1px;
  width: 50%;
  text-align: left;
}

.jianjie-7 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 0.93333rem;
  vertical-align: baseline;
  background: transparent;
  color: grey;
}

.jianjie-8:focus {
  outline: 0px;
  text-align: right;
}

.jianjie-8 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  float: left;
  min-height: 1px;
  width: 50%;
  text-align: right;
}

.jianjie-9 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 0.93333rem;
  vertical-align: baseline;
  background: transparent;
  color: grey;
}

.jianjie-10:focus {
  outline: 0px;
}

.jianjie-10:after {
  display: table;
  clear: both;
  content: "";
}

.jianjie-10 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  padding-left: 0.53333rem;
  line-height: 2.93333rem;
  border-bottom: 0.02667rem solid rgb(229, 229, 229);
}

.jianjie-11:focus {
  outline: 0px;
  text-align: left;
}

.jianjie-11 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  float: left;
  min-height: 1px;
  width: 50%;
  text-align: left;
}

.jianjie-12 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 0.93333rem;
  vertical-align: baseline;
  background: transparent;
  color: grey;
}

.jianjie-13:focus {
  outline: 0px;
  text-align: right;
}

.jianjie-13 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  float: left;
  min-height: 1px;
  width: 50%;
  text-align: right;
}

.jianjie-14 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 0.93333rem;
  vertical-align: baseline;
  background: transparent;
  color: grey;
}

.jianjie-15:focus {
  outline: 0px;
  border-bottom: none;
}

.jianjie-15:after {
  display: table;
  clear: both;
  content: "";
  border-bottom: none;
}

.jianjie-15 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  padding-left: 0.53333rem;
  line-height: 2.93333rem;
  border-bottom: none;
}

.jianjie-16 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  font-size: 1rem;
  line-height: 3.125rem;
  letter-spacing: normal;
  font-weight: 400;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  vertical-align: baseline;
  background: transparent;
  color: rgb(33, 33, 33);
}

.jianjie-17 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 0.93333rem;
  vertical-align: baseline;
  background: transparent;
  color: grey;
}
