.mingxi-1:focus {
  outline: 0px;
}

.mingxi-1 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  /* background-color: #fff; */
  flex-shrink: 0;
  width: 100%;
  min-height: 30vh;
  margin-top: 10px;
}

.mingxi-2:focus {
  outline: 0px;
}

.mingxi-2:after {
  display: table;
  clear: both;
  content: "";
}

.mingxi-2 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

.mingxi-3:focus {
  outline: 0px;
}

.mingxi-3:after {
  display: table;
  clear: both;
  content: "";
}

.mingxi-3 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0.8rem 1.33333rem;
  border: 0px;
  outline: 0px;
  font-size: 1.6rem;
  vertical-align: baseline;
  background: transparent;
  color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  line-height: 1.6rem;
  border-bottom: 0.02667rem solid rgb(229, 229, 229);
}

.mingxi-4:focus {
  outline: 0px;
  text-align: left;
}

.mingxi-4 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  float: left;
  min-height: 1px;
  width: 33.3333%;
  text-align: left;
}

.mingxi-5 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

.mingxi-6 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  color: rgb(20, 185, 92);
}

.mingxi-7:focus {
  outline: 0px;
  width: 1.5rem;
  height: 1rem;
}

.mingxi-7 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  position: relative;
  display: inline-block;
  width: 1.5rem;
  height: 1rem;
}

.mingxi-8:focus {
  outline: 0px;
}

.mingxi-8 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  border-style: none;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  display: block;
  width: 100%;
  height: 100%;
}

.mingxi-9 {
  box-sizing: inherit;
  -webkit-tap-highlight-color: transparent;
}

.mingxi-10 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 2rem;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  vertical-align: baseline;
  background: transparent;
  color: rgb(128, 128, 128);
  margin-top: 10px;
}

.mingxi-11:focus {
  outline: 0px;
}

.mingxi-11 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  float: left;
  min-height: 1px;
  width: 33.3333%;
}

.mingxi-12 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  color: rgb(246, 24, 91);
}

.mingxi-13:focus {
  outline: 0px;
}

.mingxi-13 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 0.8rem;
  vertical-align: baseline;
  background: transparent;
  float: left;
  min-height: 1px;
  width: 33.3333%;
  color: grey;
  text-align: right;
}

.mingxi-14 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

.mingxi-15 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

.mingxi-16 {
  box-sizing: inherit;
  -webkit-tap-highlight-color: transparent;
}

.mingxi-17 {
  box-sizing: inherit;
  -webkit-tap-highlight-color: transparent;
}

.mingxi-18 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

.mingxi-19 {
  box-sizing: inherit;
  -webkit-tap-highlight-color: transparent;
}

.mingxi-20 {
  box-sizing: inherit;
  -webkit-tap-highlight-color: transparent;
}

.mingxi-21 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

.mingxi-22 {
  box-sizing: inherit;
  -webkit-tap-highlight-color: transparent;
}

.mingxi-23:focus {
  outline: 0px;
}

.mingxi-23:after {
  display: table;
  clear: both;
  content: "";
}

.mingxi-23 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0.8rem 1.33333rem;
  border: 0px;
  outline: 0px;
  font-size: 1.6rem;
  vertical-align: baseline;
  background: transparent;
  color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  line-height: 1.6rem;
  border-bottom: 0.02667rem solid rgb(229, 229, 229);
}

.mingxi-24:focus {
  outline: 0px;
  text-align: left;
}

.mingxi-24 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  float: left;
  min-height: 1px;
  width: 33.3333%;
  text-align: left;
}

.mingxi-25 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

.mingxi-26 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  color: rgb(246, 24, 91);
}

.mingxi-27:focus {
  outline: 0px;
  width: 1.5rem;
  height: 1rem;
}

.mingxi-27 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  position: relative;
  display: inline-block;
  width: 1.5rem;
  height: 1rem;
}

.mingxi-28:focus {
  outline: 0px;
}

.mingxi-28 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  border-style: none;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  display: block;
  width: 100%;
  height: 100%;
}

.mingxi-29 {
  box-sizing: inherit;
  -webkit-tap-highlight-color: transparent;
}

.mingxi-30 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 2rem;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  vertical-align: baseline;
  background: transparent;
  color: rgb(128, 128, 128);
  margin-top: 10px;
}

.mingxi-31:focus {
  outline: 0px;
}

.mingxi-31 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  float: left;
  min-height: 1px;
  width: 33.3333%;
}

.mingxi-32 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  color: rgb(246, 24, 91);
}

.mingxi-33:focus {
  outline: 0px;
}

.mingxi-33 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 0.8rem;
  vertical-align: baseline;
  background: transparent;
  float: left;
  min-height: 1px;
  width: 33.3333%;
  color: grey;
  text-align: right;
}

.mingxi-34 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

.mingxi-35 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

.mingxi-36 {
  box-sizing: inherit;
  -webkit-tap-highlight-color: transparent;
}

.mingxi-37 {
  box-sizing: inherit;
  -webkit-tap-highlight-color: transparent;
}

.mingxi-38 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

.mingxi-39 {
  box-sizing: inherit;
  -webkit-tap-highlight-color: transparent;
}

.mingxi-40 {
  box-sizing: inherit;
  -webkit-tap-highlight-color: transparent;
}

.mingxi-41 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

.mingxi-42 {
  box-sizing: inherit;
  -webkit-tap-highlight-color: transparent;
}

.mingxi-43:focus {
  outline: 0px;
  margin: 20px;
}

.mingxi-43:after {
  display: table;
  clear: both;
  content: "";
  margin: 20px;
}

.mingxi-43 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 20px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-align: center;
}
