.search-1 {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 2.6666667vw 3.2vw;
  background: transparent;
}

.search-1:focus {
  outline: 0px;
}

.search-2 {
  display: flex;
  flex: 1 1 0%;
  padding-left: 3.2vw;
  background: #fff;
  border-radius: 266.4vw;
}

.search-2:focus {
  outline: 0px;
}

.search-3 {
  position: relative;
  display: flex;
  box-sizing: border-box;
  width: 100%;
  overflow: hidden;
  color: var(--boutton-background-color);
  font-size: 3.7333333vw;
  line-height: 6.4vw;
  background: #fff;
  flex: 1 1 0%;
  padding: 1.3333333vw 2.1333333vw 1.3333333vw 0;
  background-color: transparent;
}

.search-3:after {
  position: absolute;
  box-sizing: border-box;
  content: " ";
  pointer-events: none;
  right: 4.2666667vw;
  bottom: 0px;
  left: 4.2666667vw;
  border-bottom: 1px solid #f5f5f5;
  transform: scaleY(0.5);
  display: none;
}

.search-3:focus {
  outline: 0px;
}

.search-4 {
  margin-right: 1.0666667vw;
  color: #969799;
}

.search-4:focus {
  outline: 0px;
}

.search-5 {
  position: relative;
  font-style: normal;
  font-variant: normal;
  font-kerning: auto;
  font-optical-sizing: auto;
  font-feature-settings: normal;
  font-variation-settings: normal;
  font-weight: normal;
  font-stretch: normal;
  font-family: vant-icon;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  color: #858a8f;
  display: block;
  font-size: 4.2666667vw;
  line-height: inherit;
}

.search-5:focus {
  outline: 0px;
}

.search-5:before {
  content: "";
}

.search-6 {
  flex: 1 1 0%;
  position: relative;
  vertical-align: middle;
  overflow-wrap: break-word;
  color: #323233;
  text-align: left;
  overflow: visible;
}

.search-6:focus {
  outline: 0px;
}

.search-7 {
  display: flex;
  align-items: center;
}

.search-7:focus {
  outline: 0px;
}

.search-8 {
  font: inherit;
  font-size: 100%;
  font-family: inherit;
  font-synthesis: none;
  -webkit-font-smoothing: antialiased;
  direction: ltr;
  display: block;
  box-sizing: border-box;
  width: 100%;
  min-width: 0px;
  margin: 0px;
  padding: 0px;
  color: var(--boutton-background-color);
  line-height: inherit;
  text-align: left;
  background-color: transparent;
  border: 0px;
  resize: none;
  user-select: auto;
  appearance: none;
}

.search-8:focus {
  outline: 0px;
}
